*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
}

.header-container{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}