*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    background-color: #FFD575;
}

#pop-up{

}

.header-container{
    display: flex;
    width: 100%;
    height: 3rem;
}

.header{
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    background-color: transparent;
    margin-top: 1rem;
}



.logo{
    margin-left: 2rem;
    color: #694E2D;
}

#search{
    margin-left: 3.5rem;
    border-radius: 10px;
    height: 20px;
    padding: 0 10px 0 9px;
    border: 2px solid #694E2D;
}

#search:focus{
    color: orangered;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    left: 0.5rem;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
}

.underline {
    position: absolute;
    z-index: 2;
    height: 6px;
    bottom: 0;
    width: 25%;
    transition: 0.35s;
}

.nav .items:hover > .dropdown > div {
    transform: translate(0);
    background: orangered;

}

.nav .items:nth-child(1):hover ~ .underline {
    transform: translate(0);
    background: orangered;

}

.nav .items:nth-child(2):hover ~ .underline {
    transform: translate(100%, 0);
    background: orangered;

}

.nav .items:nth-child(3):hover ~ .underline {
    transform: translate(200%, 0);
}



/* background-color: #222225; */
li{
    list-style: none;
    margin-left: 3.5rem;
}

a{
    text-decoration: none;
    color: black;
    color: #694E2D;
}


/* .nav a:hover, li:hover
{
    color: #86E8DF;
    cursor: pointer;
} */

.profil-list{
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-left: 36rem;
    font-size: 1.5rem ;
}

i{
    margin-left: 2rem;
    color: #694E2D;
}

i:hover{
    color: orangered;
}


/* FOOTER */
.partenaires{
    width: 100%;
    background-color: rgba(48,48,48,255);
    display: flex;
    justify-content: space-around;
}

footer img{
    width: 9rem;
    height: auto;
    
}

.afpa-logo{
    mix-blend-mode: plus-lighter;
}



#containerFooter
{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter  h3:hover, #containerFooter p:hover
{
    color: orangered;
    cursor: pointer;
}

@font-face {
    font-family: 'Burford';
    src: url("../police/Burford_Rustic-InlineLight.ttf");
}
.shwim-footer{
    font-family: "Burford";
    font-size: 2.5rem;
    margin: 0;
    color: #694E2D;
}

#webFooter
{
    padding-top: 30px;
    font-size: 12px;
}
#webFooter a{
    text-decoration: none;
    color: white;

}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}
#credit a::after
{
content: "";
background: orangered;
mix-blend-mode: hard-light;
width: calc(100% + 18px);
height: 0;
position: absolute;
bottom: -4px;
left: -10px;
transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after
{
    height: calc(100% + 8px)
}

.reseaux{
    height: 2rem;
    
}

.bi{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.bi:hover{
    color: orangered;
    cursor: pointer;
}
/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}